{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

{% block contenido %}

<div class="container-fluid" style="margin: 200px;">
{% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin-top: 300px;">
        <a id="boton_post" href="{% url 'apps.posts:crear_post' %}">Crear nuevo post</a>
    </div>
{% endif %}

    {% for i in posts %}
        <br>
        <li>{{ i.titulo }}
        <li>{{ i.subtitulo }}
        <li>{{i.categoria }}
        <br>
        <a id="boton_post" href="{% url 'ápps.posts:post_individual' i.id %}">
            Ingresa a este post
        </a>
        
        {% empty %}
        <h1>No hay registros<h1>
    {% endfor %}

</div>
{% endblock %}